@import '../variables';

.set {
    margin-bottom: 50px;
}

.title {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cont {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    // justify-content: center;

    @media screen and (max-width: 400px) {
        justify-content: center;
    }
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 190px;
    width: 100%;

    .info {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .price {
            font-size: 1.4rem;
            font-weight: 600;

            display: flex;
            align-items: center;
        }

        .bonus {
            font-size: 1rem;
            font-weight: 600;
            margin-left: 10px;
            padding: 3px 5px;
            border-radius: 10px;
            background-color: #008040;
        }

        .name {
            font-size: 1.2rem;
        }

        .author {
            font-size: 1rem;
        }
    }

    .action {
        display: flex;
        gap: 10px;

        .to {
            cursor: pointer;
            width: 100%;
            padding: 7px;
            display: flex;
            justify-content: center;
            border: 2px solid rgba($color: $color-white, $alpha: 0.7);
            color: $color-white;
            transition: .3s ease;

            &:hover {
                color: $color-black;
                background-color: $color-white;
            }
        }
    }

}

.btn {
    cursor: pointer;
    width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba($color: $color-white, $alpha: 0.7);
    transition: .3s ease;

    &:hover {
        color: $color-black;
        background-color: $color-white;
    }
}