@import '../variables';

:root {
    font-size: 10px;
}

.box {
    display: flex;
    margin-bottom: 50px;
    gap: 40px;
}

.sidebar {
    background-color: rgba($color: #ffffff, $alpha: .01);
    border: 1px solid rgba($color: #ffffff, $alpha: .1);
    border-radius: 10px;
    padding: 20px;
    min-width: 200px;
    width: 200px;

    .title {
        background: linear-gradient(0deg, #000 -17.65%, #FFF 126.47%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 14px;
        letter-spacing: 4.2px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 350px;

        .item {
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.02);
            padding: 9px 15px;
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                background: rgba(255, 255, 255, 0.05);
            }

            &.active {
                background: rgba(255, 255, 255, 0.05);
            }
        }
    }
}

